/* navbar */
nav {
  background-color: #ff7b00 !important;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}
.navbar .nav-link {
  font-weight: 650;
}
.p-pointer {
  cursor: pointer;
}
/* navbar end */

/* jumbotron */
section {
  padding-top: 5rem;
}
.jumbotron {
  background-color: #face91;
  padding-top: 10rem;
}
.button-hover {
  outline: black !important;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
.button-hover:hover {
  transition: 0.5s;
}
.icon {
  z-index: 2;
}
.social-icon {
  font-size: 30px;
}
.social-tiktok {
  font-size: 28px;
  margin-top: 2px;
}
.icon-hover {
  transition: 0.5s;
}
a .icon-hover:hover {
  color: #ffffff;
}
.wave {
  transform: translateY(1px);
}
/* jumbotron end */

/* about */
#about h2,
#about span {
  color: #ff7b00;
}
/* about end */
/* skill */
#skill {
  background-color: #face91;
}
.icon-skill {
  width: 5rem;
}
.javascript {
  width: 4rem !important;
}

/* skill end */
/* contact */
#contact h2 {
  color: #ff7b00;
}
textarea {
  height: 7rem;
}
.shadow-send {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}
/* contact end */
/* footer */
footer {
  background-color: #ff7b00;
}
.navbar2 li {
  margin-top: 0.3rem;
}
.navbar2 li a {
  color: black;
  text-decoration: none;
  transition: 0.5s;
}
.navbar2 li a:hover {
  color: white;
  text-decoration: underline;
  text-underline-offset: 7px;
}
.border-top {
  width: 85%;
  height: 1px;
  border-top: 1px solid rgba(247, 247, 247, 0.3);
}
.copyright {
  height: 2rem;
}
/* footer end */
/* breakpoint */
@media (max-width: 768px) {
  /* jumbotron */
  .text-hero {
    padding-top: 2rem;
    padding-left: 2rem;
  }
  /* jumbotron end */
  /* about */
  .text-about {
    padding-top: 2rem;
    padding-left: 2rem;
  }
  /* about end */
}
